body {
  margin: 0;
  padding: 0;
}
body #participantsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 45rem;
}
body #participantsPage #homeButton {
  display: flex;
  position: absolute;
  bottom: 36.2rem;
  left: 20.2rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body #participantsPage #homeButton a {
  text-decoration: none;
  color: black;
}
body #participantsPage #participantsPageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
body #participantsPage #participantsPageHeader button {
  width: 5rem;
}
body #participantsPage #participantsForm form {
  display: flex;
  width: 45rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}
body #participantsPage #participantsForm form div label {
  font-size: 14.5px;
}
body #participantsPage #participantsForm form div input {
  width: 7rem;
}
body #participantsPage #participantsForm form button {
  width: 5rem;
}
body #listParticipants {
  display: flex;
  flex-direction: column;
}
body #listParticipants div {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  width: 45rem;
  margin: 0 auto;
}
body #listParticipants div p:not(:first-child) {
  margin-left: 4.5rem;
}
body #listParticipants div button {
  margin-left: auto;
  width: 5rem;
}
body #listParticipants div button a {
  text-decoration: none;
  color: black;
}
body main #container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #container #header {
  width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body main #container #header button {
  cursor: pointer;
  width: 5rem;
}
body main #container #companyForm form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45rem;
}
body main #container #companyForm form div label {
  font-size: 14.5px;
}
body main #container #companyForm form div input {
  width: 7rem;
}
body main #container #companyForm form #amount label {
  font-size: 14.5px;
}
body main #container #companyForm form #amount input {
  width: 5rem;
}
body main #container #companyForm form button {
  width: 5rem;
}
body main #container #listContainer {
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
body main #container #listContainer #listData {
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #container #listContainer #listData p {
  font-size: 14.5px;
  min-width: 7rem;
}
body main #container #listContainer #listData #buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
}
body main #container #listContainer #listData #buttons button:nth-child(1) {
  margin-right: 1rem;
}
body main #container #listContainer #listData #buttons button a {
  text-decoration: none;
  color: black;
}
