body {
  margin: 0;
  padding: 0;
}
body main #container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}
body main #container #header {
  width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body main #container #header button {
  width: 5rem;
}
body main #container #companyForm form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45rem;
}
body main #container #companyForm form div label {
  font-size: 14.5px;
}
body main #container #companyForm form div input {
  width: 7rem;
}
body main #container #companyForm form #amount label {
  font-size: 14.5px;
}
body main #container #companyForm form #amount input {
  width: 5rem;
}
body main #container #companyForm form button {
  width: 5rem;
}
