body{
  margin: 0;
  padding: 0;

  #participantsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 45rem;

    #homeButton{
      display: flex;
      position: absolute;
      bottom: 36.2rem;
      left: 20.2rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      a{
        text-decoration: none;
        color: black;
      }
    }

    #participantsPageHeader{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;

      button{
        width: 5rem;
      }
    }

    #participantsForm{
      form{
        display: flex;
        width: 45rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: 0 2rem 0 2rem;

        div{
          label{
            font-size: 14.5px;
          }
          input{
            width: 7rem;
          }
        }

        button{
          width: 5rem;
        }
      }
    }


  }

  #listParticipants{
    display: flex;
    flex-direction: column;

    div{
      display: flex;
      align-items: center;
      justify-content: left;
      flex-direction: row;
      width: 45rem;
      margin: 0 auto;

      p:not(:first-child){
        margin-left: 4.5rem;
      }

      button{
        margin-left: auto;
        width: 5rem;

        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  main{
    
    #container{
      width: 100%;
      height: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      #header{
        width: 45rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        button{
          cursor: pointer;
          width: 5rem;
        }
      }

      #companyForm{
        form{
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 45rem;

          div{
            label{
              font-size: 14.5px;
            }
            input{
              width: 7rem;
            }
          }

          #amount{
            label{
              font-size: 14.5px;
            }
            input{
              width: 5rem;
            }
          }

          button{
            width: 5rem;
          }
        }
      }
      
      #listContainer{
        width: 45rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        #listData{
          width: 45rem;

          display: flex;
          align-items: center;
          justify-content: space-between;

          p{
            font-size: 14.5px;
            min-width: 7rem;
          }

          #buttons{

            button:nth-child(1){
              margin-right: 1rem;
            }

            button{
              a{
                text-decoration: none;
                color: black;
              }
            }

            display: flex;
            justify-content: right;
            align-items: center;
            flex-direction: row;
          }
        }
      }
    }
  }
}
