body{
  margin: 0;
  padding: 0;

  main{
    
    #container{
      width: 100%;
      height: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      border: 1px solid red;

      #header{
        width: 45rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        button{
          width: 5rem;
        }
      }

      #companyForm{
        form{
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 45rem;

          div{
            label{
              font-size: 14.5px;
            }
            input{
              width: 7rem;
            }
          }

          #amount{
            label{
              font-size: 14.5px;
            }
            input{
              width: 5rem;
            }
          }

          button{
            width: 5rem;
          }
        }
      }
      
      #listContainer{
        width: 45rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div{
          display: flex;
          align-items: center;
          justify-content: center;

          p{
            margin-right: 2rem;
          }
        }
      }
    }
  }
}